<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body class="font-body text-dark bg-white">
    <%- include('partials/navbar', { currentPage: currentPage || 'catering' }) %>
    
    <%- body %>
    
    <%- include('partials/footer') %>
    <%- include('partials/scripts', { pageScripts: typeof pageScripts !== 'undefined' ? pageScripts : [] }) %>
</body>
</html>
